@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lobster');
@import '~antd/dist/antd.css';
body{
    margin: 0px;
}
.header-top{
    width: auto;
    height: 60px;
    background-color: black;
}
.block{
    display: flex;
    width: 100%;

}
.block-left{
   width: 80%;
}

.block-right{
    width: 20%;
}

.h1-font{
    margin: 0px;
    padding-top: 13px;
    font-family: 'Lobster', cursive;
    color: white;
    text-align: left; 
}
.icon{
    margin: 0px 9px 0px 20px;
}
.contentAll{
    height: 100%;
    width: 100%;
    padding: 0 50px;
    margin-top:30px; 
    padding-bottom: 400px;
}
.contentLeft{
    padding: 24px 0;
    background: #fff;
}
.contentRight{
    padding: 0 24px;
    min-height: 280px;
    background: #fff;
}
.content-team{
    padding: 0 100px;
    min-height: 280px;
    background: #fff;
    display: flex;
    flex-flow:reverse;
    width: 555px;
}
.content-box{
    width: auto;
    height: auto;
}
.content-user{
    padding: 50px;
    min-height: 250px;
    background: #fff;
    display: flex;
    flex-flow:reverse;
    width: 500%;

}
.MenuBar{
    width:200;
    background: #fff;
}
.content-div{
    padding: 24px;
    background: '#fff'; 
    min-Height: 360px;
    display: flex;
    flex-direction: column;
}
.team-input{
    width: 500px;
    margin:  20px 20px 20px;
    text-align: center;
  }
.date-picker-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.input-box{
    width: 500px;
    text-align: center;
}
.margint-botton{
    margin-top: 10px;
    
   

}
.margint-texth1{
    margin-top: 50px;
}
/* .box-left{
    width: 30%;
}
.box-right{
    width: 70%;
} */
.center-user{
    display: flex;
    justify-content: center;
}
.margint-inputteam{
    margin-left: 10px;
}